<!DOCTYPE html>
<html lang="en" charset="UTF-8">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.css" rel="stylesheet" />
    <title>Register user</title>
</head>
<body class="bg-zinc-900">
  <div class="h-screen w-full flex items-center">
    <div class="max-w-md  mx-auto p-8 bg-zinc-950 text-white rounded-lg shadow-md">
        <h2 class="text-2xl font-bold text-center mb-6">Register User</h2>
        
        <form action="/user/register" method="POST" class="space-y-6 w-[20vw]  ">
            <div>
                <label for="username" class="block mb-2 text-sm font-medium text-zinc-200 ">Username</label>
                <input type="text" id="username" name="username" placeholder="Enter the username" required class="w-full   py-2 bg-transparent  border  rounded-md focus:outline-none focus:ring-2 focus:ring-blue-600">
            </div>

            <div>
                <label for="email" class="block mb-2 text-sm font-medium text-zinc-200 ">Email Address</label>
                <input type="email" id="email" name="email" placeholder="Enter the email" required class="w-full   py-2 bg-transparent  border  rounded-md focus:outline-none focus:ring-2 focus:ring-blue-600">
            </div>

            <div>
                <label for="password" class="block mb-2 text-sm font-medium text-zinc-200 ">Password</label>
                <input type="password" id="password" name="password" placeholder="Enter the password" required class="w-full   py-2 bg-transparent  border  rounded-md focus:outline-none focus:ring-2 focus:ring-blue-600">
            </div>

            <button type="submit" class="w-full bg-blue-500 hover:bg-blue-700 text-white font-bold py-2   px-4 rounded">Register</button>
        </form>
    </div>

  </div>
  

</body>
</html>
